<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/materialize-0.96.1.min.css">
        <script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
        <script src="/static/materialize-0.96.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <title>{% block title %}Default Title{% endblock %}</title>
        <style>
            .feature {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <header>
        <a href="https://github.com/jtwaleson/certinator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/static/forkme_right_green_007200.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
        </header>
        <main>
        {% if warnings %}
        <div class='container'>
            {% for warning in warnings %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card amber">
                        <div class="card-content white-text">
                            <p><strong>Warning:</strong> {{ warning }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        </main>
        <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Certinator</h5>
                    <p class="grey-text text-lighten-4"><strong>Certinator</strong> is a global certificate store.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Our tools</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/upload">Auto complete</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Chain analyzer</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">CSR analyzer</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Our Archive</a></li>
                        <li><a class="grey-text text-lighten-3" href="/documentation">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">© 2015 Certinator</div>
        </div>
        </footer>
    </body>
</html>
