{% extends "base.html" %}
{% block title %}Chain analyzer{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
        <h1>Chain Analyzer</h1>
    </div>
    <form action='/upload' method='POST' enctype='multipart/form-data'>
        <div class='row'>
            <div class='file-field input-field col'>
                <input class='file-path validate' type='text'/>
                <div class='btn'>
                    <span>File</span>
                    <input name='certfile' type='file' multiple/>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='input-field col s12'>
                <textarea id='textarea1' name='certtext' class='materialize-textarea'></textarea>
                <label for='textarea1'>Textarea</label>
            </div>
        </div>
        <div class='row'>
            <div class='file-field input-field col'>
                <input type='submit' value='Process' class='btn'>
            </div>
        </div>
    </form>
</div>
{% endblock %}
